* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: sans-serif;
}

body {
  width: 100%;
  background: hsl(220, 41%, 10%);
  transition: all 1s;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

nav {
  height: 137px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  background: hsl(220, 41%, 10%);
  z-index: 1;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 13px;
  filter: invert(1);
}
.logo-wrapper span {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.jump-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 98px;
}
.jump-wrapper span {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: color 0.5s;
  padding-bottom: 2px;
}

.jump-wrapper span:hover {
  color: dimgrey;
}

.media-wrapper img:hover {
  filter: invert(0.4);
}

.media-wrapper {
  display: flex;
  gap: 29px;
}
.media-wrapper img {
  filter: invert(1);
  cursor: pointer;
}

.home {
  padding-left: 192px;
  padding-top: 294px;
  display: flex;
  position: relative;
  height: 100vh;
}

.home-text {
  display: flex;
  flex-direction: column;
  width: 1051px;
  padding-top: 150px;
}

.home-text span {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-text p {
  padding-left: 62px;
  margin-top: 30px;
  color: #bcbcbc;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.brick {
  position: absolute;
  right: 0;
  bottom: -60px;
}

.projects {
  padding-left: 192px;
  display: flex;
  flex-direction: column;
  gap: 93px;
}

h1 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cards-wrapper {
  padding-left: 108px;
  display: flex;
  flex-wrap: wrap;
  width: 1428px;
  column-gap: 220px;
  row-gap: 97px;
}

.project-wrapper {
  padding: 25px 25px 45px 25px;
  border-radius: 50px 0px;
  background: #0f1624;
  box-shadow: 0px 0px 12px 0px #fff;
  width: 550px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.project-wrapper img {
  height: 266px;
  width: 100%;
  border-radius: 8px;
}

.project-wrapper h4 {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 88.5%; /* 31.86px */
  margin-top: 25px;
  text-align: center;
}

.project-wrapper hr {
  margin-top: 25px;
  width: 300px;
  height: 4px;
  border-radius: 83px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  align-self: center;
}

.project-wrapper p {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 25px;
}

.project-wrapper button {
  margin-top: 50px;
  border-radius: 83px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  cursor: pointer;
  padding: 15px 52px;
  width: 200px;
  border: none;
}
.project-wrapper a {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.tehnologies {
  margin-top: 329px;
  padding-left: 192px;
  display: flex;
  flex-direction: column;
  gap: 133px;
}

.tehnologies-wrapper {
  padding-left: 108px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.tehnologies-container {
  width: 1320px;
  display: flex;
  flex-direction: column;
}

.tehnologies-text {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}

.coding {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.level {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.progress {
  width: 100%;
  height: 32.3px;
  border-radius: 83px;
  background: #162950;
}

.html-bar {
  width: 80%;
  height: 32px;
  border-radius: 83px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
}
.css-bar {
  width: 65%;
  height: 32px;
  border-radius: 83px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
}
.js-bar {
  width: 50%;
  height: 32px;
  border-radius: 83px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
}

.additional {
  display: flex;
  flex-direction: column;
  gap: 82px;
}

h3 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

ul {
  display: flex;
  flex-direction: column;
  height: 226px;
  flex-wrap: wrap;
  gap: 32px;
  padding-left: 108px;
}

li {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about {
  margin-top: 329px;
  margin-left: 142px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.about h1 {
  margin-left: 50px;
}

.about-me-wrapper {
  display: flex;
  gap: 53px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  width: 347px;
  gap: 15px;
}

.year {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.shapes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
}

.line-right {
  height: 12px;
  width: 65%;
  background-color: white;
  position: absolute;
  right: -53px;
}

.line-left {
  height: 12px;
  width: 50%;
  background-color: white;
  position: absolute;
  left: 0;
}

.about-me-container p {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

footer {
  display: flex;
  margin: 345px 260px 80px 259px;
  justify-content: space-between;
  align-items: center;
}

.email p {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.email span {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* .home-text button {
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 50% auto;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 280px;
  height: 80px;
  border-radius: 83px;
  border: none;
  cursor: pointer;
  margin-top: 73px;
  margin-left: 47px;
}

.home-text button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
} */
